name: First CI/CD Pipeline

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build-and-test:
  # runner type
  runs-on: ubuntu-latest

  steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: "18.x"
        cache: "npm"

    - name: Install dependencies
      run: npm ci

    - name: Type check
      run: npx tsx --noEmit

    - name: Run Tests
      run: npm test
